@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    
}

.logo-container{

    margin-top: 2em;
    text-align: center;
}

.input-container{

    padding-top: 1em;
   margin-left: 2em;
}

label{

    font-size: 1.2em;
}

input[type=date] {
    border: 1px solid #3772FF;
    background-color: aliceblue;
    cursor: text;
}

input[type=button]{
    background-color: #3772FF;
    border: none;
    border-radius: 2em;
    width: 4%;
    height: 20px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

input[type=button]:hover{
    background-color: #4848ff;

}

input[type=number]{
    border: 1px solid #3772FF;
    background-color: aliceblue;
    cursor: text;
    width: 2em;

}


input[type=button].setCoordenadas{
    margin-top: 1em;
    background-color: #3772FF;
    border: none;
    border-radius: 2em;
    width: 200px;
    height: 25px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin-left: 3em;
}

input[type=button].setCoordenadas :hover{
    
    background-color: #4848ff;
 
}

