@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    
}

.contenedorThreeJs{
    position: absolute;
	top: 10px;
	width: 100%;
	z-index: 100;
	display:block;
}


.logo-container{
    
    text-align: center;
    margin-top: 2px;
    
    
}

.clock{

    position: absolute center;
    font-size: 1.2em;
    text-align: center;


}

.contenedor-inputs{

    display: flex;
    flex: content;
    border-width: 20px;
    border-color: black;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 1em;
   
        

}

.input-container-fecha-hora{
    
    padding-top: 1em;
    flex-direction: column;
        
}

.input-container-latitud{
    
    padding-top: 1em;
    flex-direction: column;
   
    
}

.input-container-longitud{
    
    padding-top: 1em;
    flex-direction: column;
    
}

label{
    
    font-size: 15px;
}

input[type=date] {
    border: 1px solid #3772FF;
    background-color: aliceblue;
    cursor: text;
}

input[type=time] {
    border: 1px solid #3772FF;
    background-color: aliceblue;
    cursor: text;
    width: 10em;
}


input[type=number].longitud{
    border: 1px solid #3772FF;
    background-color: aliceblue;
    cursor: text;
    width: 8em;
   
}

input[type=number].latitud{
    border: 1px solid #3772FF;
    background-color: aliceblue;
    cursor: text;
    width: 9em;
   
}


input[type=button]{
    margin-top: 1em;
    background-color: #3772FF;
    border: none;
    border-radius: 2em;
    width: 200px;
    height: 25px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    
}

input[type=button]:hover{
    
    background-color: #4848ff;
 
}



.Time{
    padding-top: 16px;
}

.logo{
    width: 250px;
    
}

